@import "variables";

:root {
	font-family: $font-sans-serif;
	font-size: calc(1rem + 0.2vw);
}

body {
	margin: 0;
}

main {
	background-repeat: no-repeat;
	background-size: cover;
	height: 100dvh;
	height: 100svh;
	height: 100vh;
	position: absolute;
	width: 100vw;
}
