@use "variables";

:root {
	font-family: variables.$font-sans-serif;
	font-size: calc(1rem + 0.2vw);
}

body {
	margin: 0;
}

main {
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	height: 100dvh;
	height: 100svh;
	height: 100vh;
	position: absolute;
	width: 100vw;
}

.stack {
	align-items: stretch;
	display: flex;
	flex: 1;
	min-height: 0;
	width: 100%;

	& > * {
		padding: 3em;
		width: 100%;

		&:not(.current) {
			display: none !important;
		}
	}
}

.title {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
